[Unit]
Description=CrowiPlus - The Simple & Powerful Communication Tool Based on Wiki
After=network.target mongod.service

[Service]
WorkingDirectory=/opt/crowiplus
EnvironmentFile=/etc/sysconfig/crowiplus
SECRET_TOKEN=$SECRET_TOKEN FILE_UPLOAD=$FILE_UPLOAD npm start
ExecStart=/usr/bin/npm start
Restart = always

[Install]
WantedBy=multi-user.target
