PORT={{ crowiplus_port }}
NODE_ENV={{  crowiplus_node_env  }}
MONGO_URI="mongodb://{{  mongodb_host  }}:{{  mongodb_port  }}/{{  mongodb_crowi_database  }}"
REDIS_URL="redis://{{ redis_host }}:{{ redis_port }}/{{  redis_database  }}"
ELASTICSEARCH_URI="http://{{  elasticsearch_host  }}:{{  elasticsearch_port  }}"
PASSWORD_SEED={{  crowiplus_password_seed  }}
#SECRET_TOKEN=
FILE_UPLOAD=local
