127.0.0.1   {{ inventory_hostname  }} {{ inventory_hostname_short  }} localhost.localdomain localhost localhost4.localdomain4 localhost4
#::1         {{ inventory_hostname }} {{ inventory_hostname_short  }}  localhost localhost.localdomain localhost6 localhost6.localdomain6
